#header {
  height: 121px;
}
#header .head_top {
  height: 30px;
}
#header .head_top .top_left {
  width: 200px;
  height: 30px;
}
#header .head_top .top_left a {
  display: inline-block;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  color: #676767;
}
#header .head_top .top_left a:hover {
  color: #C40000;
  text-decoration: underline;
}
#header .head_top .top_left span {
  color: #E2E7EE;
  font-size: 12px;
}
#header .head_top .top_right {
  width: 1000px;
  height: 30px;
}
#header .head_top .top_right ul li {
  font-size: 12px;
  float: right;
  height: 30px;
  line-height: 30px;
}
#header .head_top .top_right ul li:nth-child(1) strong {
  font-size: 10px;
  margin-left: 8px;
}
#header .head_top .top_right ul li:nth-child(2) {
  padding: 0 20px;
  background: url("../img/index_topPhone.png") no-repeat 6px center;
  color: #67677A;
}
#header .head_top .top_right ul li:nth-child(2):hover {
  color: #C40000;
  text-decoration: underline;
}
#header .head_top .top_right ul li:nth-child(3) {
  color: #67677A;
  padding-right: 22px;
}
#header .head_top .top_right ul li:nth-child(3):hover {
  color: #C40000;
  text-decoration: underline;
}
#header .head_top .top_right ul li:nth-child(4) {
  color: #67677A;
  padding: 0 16px;
}
#header .head_top .top_right ul li:nth-child(4):hover {
  color: #C40000;
  text-decoration: underline;
}
#header .head_top .top_right ul li:nth-child(5) {
  color: #67677A;
}
#header .head_top .top_right ul li:nth-child(5) a {
  padding: 0 2px;
  font-size: 12px;
  color: #C40000;
}
#header .head_top .top_right ul li:nth-child(5) a:hover {
  text-decoration: underline;
}
#header .head_bottom {
  height: 91px;
  position: relative;
}
#header .head_bottom > a {
  display: block;
  width: 189px;
  height: 61px;
}
#header .head_bottom > a h1 {
  width: 189px;
  height: 61px;
  background: url("../img/index_bottom.png") no-repeat 2px bottom;
  text-indent: -9999em;
}
#header .head_bottom .head_b_c {
  width: 418px;
  height: 91px;
  position: absolute;
  left: 369px;
  top: 0;
}
#header .head_bottom .head_b_c input:nth-child(1) {
  height: 32px;
  position: absolute;
  border: 2px solid #C40001;
  width: 356px;
  color: #999999;
  padding-left: 4px;
  top: 21px;
  left: 0;
}
#header .head_bottom .head_b_c a:nth-child(2) {
  display: block;
  height: 32px;
  position: absolute;
  width: 62px;
  background: #C40001;
  top: 21px;
  right: 0;
}
#header .head_bottom .head_b_c a:nth-child(2) span {
  height: 32px;
  width: 62px;
  display: block;
  background: url("../img/head_s.png") no-repeat 23px 8px;
}
#header .head_bottom .head_b_c ul {
  position: absolute;
  top: 56px;
  left: 0;
}
#header .head_bottom .head_b_c ul li {
  float: left;
}
#header .head_bottom .head_b_c ul li a {
  font-size: 12px;
  color: #333333;
  margin-right: 8px;
}
#header .head_bottom .head_b_c ul li a:hover {
  color: #C40000;
  text-decoration: underline;
}
#header .head_bottom .head_b_r {
  width: 379px;
  height: 53px;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 21px;
}
#header .head_bottom .head_b_r > div {
  float: right;
  width: 116px;
  height: 32px;
  border: 1px solid #EFEFEF;
  margin-right: 10px;
}
#header .head_bottom .head_b_r div:nth-child(1),
#header .head_bottom .head_b_r div:nth-child(2) {
  position: relative;
  background: #F7F7F7;
}
#header .head_bottom .head_b_r div:nth-child(1):hover,
#header .head_bottom .head_b_r div:nth-child(2):hover {
  background: #fff;
}
#header .head_bottom .head_b_r div:nth-child(1) a,
#header .head_bottom .head_b_r div:nth-child(2) a {
  display: inline-block;
  font-size: 12px;
  color: #676767;
  margin: 8px 0 0 3px;
}
#header .head_bottom .head_b_r div:nth-child(1) a:hover,
#header .head_bottom .head_b_r div:nth-child(2) a:hover {
  color: #C40000;
  text-decoration: underline;
}
#header .head_bottom .head_b_r div:nth-child(1) span,
#header .head_bottom .head_b_r div:nth-child(2) span {
  display: inline-block;
}
#header .head_bottom .head_b_r div:nth-child(1) span:nth-child(1),
#header .head_bottom .head_b_r div:nth-child(2) span:nth-child(1) {
  float: left;
  height: 12px;
  width: 17px;
  background: url("../img/slidelf.png") no-repeat -71px -123px;
  margin: 11px 0 0 11px;
}
#header .head_bottom .head_b_r div:nth-child(1) span:nth-child(3),
#header .head_bottom .head_b_r div:nth-child(2) span:nth-child(3) {
  float: right;
  width: 5px;
  height: 9px;
  background: url("../img/slidelf.png") no-repeat -20px -279px;
  margin: 13px 10px 0 0;
}
#header .head_bottom .head_b_r div:nth-child(1) div:nth-child(4),
#header .head_bottom .head_b_r div:nth-child(2) div:nth-child(4) {
  width: 100px;
  height: 30px;
  line-height: 16px;
  color: #fff;
  position: absolute;
  left: 5px;
  top: -20px;
  z-index: 1;
  background: url(../img/slidelf.png) no-repeat -74px -203px;
}
#header .head_bottom .head_b_r div:nth-child(1) div:nth-child(4) span,
#header .head_bottom .head_b_r div:nth-child(2) div:nth-child(4) span {
  display: inline-block;
  background: #d90000;
  padding: 0 6px;
  width: 20px;
  height: 16px;
  font-size: 12px;
}
#header .head_bottom .head_b_r div:nth-child(3) {
  position: relative;
}
#header .head_bottom .head_b_r div:nth-child(3) ul {
  position: absolute;
  top: 32px;
  width: 116px;
  height: 96px;
  z-index: 999;
  display: none;
}
#header .head_bottom .head_b_r div:nth-child(3) ul li {
  width: 116px;
  height: 32px;
  background: #fff;
  cursor: pointer;
}
#header .head_bottom .head_b_r div:nth-child(3) ul li:hover {
  background: #F7F7F7;
}
#header .head_bottom .head_b_r div:nth-child(3) ul li:hover a {
  color: #C40000;
  text-decoration: underline;
}
#header .head_bottom .head_b_r div:nth-child(3) a {
  display: inline-block;
  font-size: 12px;
  color: #676767;
  margin: 8px 0 0 8px;
}
#header .head_bottom .head_b_r div:nth-child(3) a:hover {
  color: #C40000;
  text-decoration: underline;
}
#header .head_bottom .head_b_r div:nth-child(3) span {
  display: inline-block;
}
#header .head_bottom .head_b_r div:nth-child(3) span:nth-child(1) {
  float: left;
  width: 17px;
  height: 17px;
  background: url("../img/slidelf.png") no-repeat 0 -280px;
  margin: 6px 0 0 4px;
}
#header .head_bottom .head_b_r div:nth-child(3) span:nth-child(3) {
  float: right;
  width: 7px;
  height: 4px;
  background: url("../img/slidelf.png") no-repeat -40px -280px;
  margin: 15px 12px 0 0;
}
#header .head_bottom .head_b_r div:nth-child(3):hover span:nth-child(3) {
  background: url("../img/slidelf.png") no-repeat -60px -280px;
}

#nav {
  height: 40px;
  background: #C40000;
}
#nav .nav {
  height: 40px;
}
#nav .nav .nav_left {
  width: 204px;
  height: 40px;
  background: #B00000;
  padding-top: 10px;
  position: relative;
}
#nav .nav .nav_left > a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
}
#nav .nav .nav_left > a:hover {
  text-decoration: underline;
}
#nav .nav .nav_right {
  padding-top: 10px;
}
#nav .nav .nav_right a {
  color: #fff;
  font-size: 16px;
  margin-left: 10px;
}
#nav .nav .nav_right a:hover {
  text-decoration: underline;
}
#nav .nav > ul li {
  position: relative;
  float: left;
  background: #C40000;
}
#nav .nav > ul li:hover {
  background: #B00000;
}
#nav .nav > ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  display: block;
  height: 40px;
  padding: 0 16px;
  line-height: 40px;
}
#nav .nav > ul li span {
  display: block;
  position: absolute;
  width: 27px;
  height: 15px;
  top: -4px;
  right: 4px;
}

#banner {
  height: 740px;
}
#banner .banner_top {
  height: 439px;
}
#banner .banner_top > div {
  float: left;
}
#banner .banner_top .banner_left {
  top: 40px;
  left: 0;
  width: 204px;
  height: 429px;
  border: 2px solid #B00000;
  border-top: none;
}
#banner .banner_top .banner_left > ul li {
  height: 33px;
  width: 200px;
  padding-top: 6px;
  position: relative;
}
#banner .banner_top .banner_left > ul li:hover {
  background: #F6F6F6;
  border: 1px solid #C40000;
  width: 200px;
  border-left: none;
}
#banner .banner_top .banner_left > ul li:hover > span:nth-child(3) {
  background: none;
}
#banner .banner_top .banner_left > ul li:hover > div {
  display: block;
}
#banner .banner_top .banner_left > ul li .banner_left_span1 {
  display: block;
  width: 3px;
  height: 3px;
  float: left;
  background: url(../img/slidelf.png) no-repeat -60px -320px;
  margin: 10px 0 0 14px;
}
#banner .banner_top .banner_left > ul li .banner_left_a1 {
  font-size: 14px;
  color: #333333;
  margin: 0 0 0 8px;
}
#banner .banner_top .banner_left > ul li .banner_left_a1:hover {
  color: #CC3300;
  text-decoration: underline;
}
#banner .banner_top .banner_left > ul li .banner_left_span2 {
  display: block;
  width: 6px;
  height: 9px;
  float: right;
  margin: 7px 9px 0 0;
  background: url(../img/slidelf.png) no-repeat -60px -345px;
}
#banner .banner_top .banner_left > ul li div {
  width: 800px;
  height: 430px;
  border: 2px solid #C40000;
  position: absolute;
  left: 200px;
  top: -2px;
  background: #fff;
  z-index: 99;
  display: none;
}
#banner .banner_top .banner_left > ul li div .three_left {
  width: 570px;
  height: 426px;
  border-right: 1px solid #DDDDDD;
  z-index: 99;
}
#banner .banner_top .banner_left > ul li div .three_right {
  width: 230px;
  height: 430px;
  z-index: 99;
}
#banner .banner_top .banner_cen {
  width: 751px;
  height: 419px;
  margin: 10px 10px 0 10px;
  position: relative;
  overflow: hidden;
}
#banner .banner_top .banner_cen .banner_img {
  position: relative;
  width: 751px;
  height: 270px;
}
#banner .banner_top .banner_cen .banner_img:hover span {
  opacity: 0.3;
}
#banner .banner_top .banner_cen .banner_img > li {
  width: 751px;
  height: 270px;
  position: absolute;
  top: 0;
  left: 0;
}
#banner .banner_top .banner_cen .banner_img > li > img {
  width: 751px;
}
#banner .banner_top .banner_cen .banner_img > span {
  display: block;
  width: 35px;
  height: 70px;
  position: absolute;
  top: 100px;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
}
#banner .banner_top .banner_cen .banner_img > span:hover {
  opacity: 0.8;
}
#banner .banner_top .banner_cen .banner_img > span:nth-child(1) {
  background: url(../img/slidelf.png) no-repeat 0 0;
  left: 0;
}
#banner .banner_top .banner_cen .banner_img > span:nth-child(2) {
  background: url(../img/slidelf.png) no-repeat -53px 0;
  right: 0px;
}
#banner .banner_top .banner_cen .banner_img > ul {
  position: absolute;
  height: 22px;
  width: 81px;
  z-index: 10;
  top: 238px;
  right: 20px;
}
#banner .banner_top .banner_cen .banner_img > ul .active {
  background: #E4393C;
}
#banner .banner_top .banner_cen .banner_img > ul li {
  float: left;
  width: 22px;
  height: 22px;
  background: #A8869A;
  border-radius: 50%;
  margin-right: 5px;
  line-height: 22px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
}
#banner .banner_top .banner_cen .banner_img_two {
  width: 2250px;
  height: 149px;
  position: relative;
}
#banner .banner_top .banner_cen .banner_img_two:hover > span {
  opacity: 0.3;
}
#banner .banner_top .banner_cen .banner_img_two > span {
  display: block;
  width: 35px;
  height: 70px;
  position: absolute;
  top: 44px;
  z-index: 5;
  cursor: pointer;
  opacity: 0;
}
#banner .banner_top .banner_cen .banner_img_two > span:hover {
  opacity: 0.6;
}
#banner .banner_top .banner_cen .banner_img_two > span:nth-child(1) {
  background: url(../img/slidelf.png) no-repeat 0 0;
  left: 0;
}
#banner .banner_top .banner_cen .banner_img_two > span:nth-child(2) {
  background: url(../img/slidelf.png) no-repeat -53px 0;
  left: 715px;
}
#banner .banner_top .banner_cen .banner_img_two li {
  float: left;
  width: 250px;
  height: 149px;
  border: 1px solid #E6E6E6;
  border-right: none;
}
#banner .banner_top .banner_right {
  margin-top: 10px;
  height: 419px;
  width: 225px;
}
#banner .banner_top .banner_right #banner_r_top {
  height: 260px;
  width: 225px;
  border: 1px solid #E6E6E6;
  margin-bottom: 10px;
}
#banner .banner_top .banner_right #banner_r_top > p {
  width: 223px;
  height: 28px;
  background: #F8F8F8;
  border-bottom: 1px solid #E6E6E6;
}
#banner .banner_top .banner_right #banner_r_top > p a {
  display: inline-block;
  width: 50px;
  height: 28px;
  color: #676767;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
}
#banner .banner_top .banner_right #banner_r_top > p .banner_active {
  border-left: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
  background: #FAFAFA;
  color: #E4393C;
}
#banner .banner_top .banner_right #banner_r_top div {
  height: 230px;
  width: 226px;
  display: none;
  position: relative;
  cursor: pointer;
}
#banner .banner_top .banner_right #banner_r_top div img {
  position: absolute;
  top: 0;
  left: 0;
  height: 229px;
}
#banner .banner_top .banner_right #banner_r_top div ul {
  position: absolute;
  bottom: 10px;
  left: 90px;
}
#banner .banner_top .banner_right #banner_r_top div ul li {
  float: left;
  width: 10px;
  height: 10px;
  background: #939393;
  margin-right: 5px;
  z-index: 10;
  border-radius: 50%;
  cursor: pointer;
}
#banner .banner_top .banner_right #banner_r_top div ul .small_active {
  background: #E4393C;
}
#banner .banner_top .banner_right .banner_r_b {
  height: 149px;
  width: 225px;
  border: 1px solid #E6E6E6;
}
#banner .banner_bottom {
  height: 301px;
  position: relative;
}
#banner .banner_bottom .banner_b_hot {
  height: 301px;
  width: 965px;
  position: relative;
}
#banner .banner_bottom .banner_b_hot > div {
  height: 33px;
  width: 965px;
  float: left;
  position: absolute;
}
#banner .banner_bottom .banner_b_hot > div h3 {
  font-size: 18px;
}
#banner .banner_bottom .banner_b_hot > div > ul {
  position: absolute;
  top: 0;
  left: 215px;
}
#banner .banner_bottom .banner_b_hot > div > ul li {
  float: left;
  width: 128px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  cursor: pointer;
}
#banner .banner_bottom .banner_b_hot > div > ul .banner_b_hot_active {
  color: #E4393C;
  border: 1px solid #E6E6E6;
  border-bottom: none;
  height: 34px;
  background: #fff;
}
#banner .banner_bottom .banner_b_hot > div > ul > div {
  position: absolute;
  width: 965px;
  height: 268px;
  top: 33px;
  left: -215px;
  display: none;
  border: 1px solid #E6E6E6;
}
#banner .banner_bottom .banner_b_hot > div > ul > div dl dt {
  float: left;
  height: 268px;
  width: 240px;
  padding: 15px;
}
#banner .banner_bottom .banner_b_hot > div > ul > div dl dt span {
  display: block;
  height: 238px;
  width: 210px;
  position: relative;
}
#banner .banner_bottom .banner_b_hot > div > ul > div dl dt span img {
  position: absolute;
  left: 25px;
  top: 0;
  cursor: pointer;
}
#banner .banner_bottom .banner_b_hot > div > ul > div dl dt span a {
  position: absolute;
  top: 170px;
  left: 0;
  font-size: 12px;
  color: #676767;
}
#banner .banner_bottom .banner_b_hot > div > ul > div dl dt span a:hover {
  color: #E4393C;
  text-decoration: underline;
}
#banner .banner_bottom .banner_b_hot > div > ul > div dl dt span p {
  position: absolute;
  top: 220px;
  left: 0;
  color: #E4393C;
}
#banner .banner_bottom .banner_b_r {
  width: 225px;
  height: 301px;
  position: absolute;
  right: 0;
  top: 0;
}
#banner .banner_bottom .banner_b_r img:nth-child(1) {
  height: 196px;
  width: 225px;
}
#banner .banner_bottom .banner_b_r img:nth-child(2) {
  height: 105px;
  width: 225px;
}

.thrnav_left {
  width: 560px;
  height: 426px;
  border-right: 1px solid #CCCCCC;
}
.thrnav_left dd {
  font-size: 13px;
  padding-top: 10px;
}
.thrnav_left dd span {
  display: inline-block;
  color: #000000;
  font-weight: 600;
  margin-left: 20px;
  margin-right: 5px;
}
.thrnav_left dd a {
  display: inline-block;
  padding: 0 7px;
  border-left: 1px solid #C2CCD1;
  color: #404040;
  text-align: center;
}
.thrnav_left dd a:hover {
  color: #C40000;
  text-decoration: underline;
}

#lazyDiv {
  margin-bottom: 20px;
}
#lazyDiv #floor_1 {
  height: 414px;
  margin-top: 10px;
}
#lazyDiv #floor_1 .floor_1_top {
  height: 28px;
  border-bottom: 2px solid #28BAC7;
  position: relative;
}
#lazyDiv #floor_1 .floor_1_top span:nth-child(1) {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: #28BAC7;
  color: #fff;
  line-height: 28px;
  text-align: center;
}
#lazyDiv #floor_1 .floor_1_top span:nth-child(2) {
  display: inline-block;
  font-size: 18px;
  font-weight: 900;
  margin-left: 5px;
}
#lazyDiv #floor_1 .floor_1_top ul {
  position: absolute;
  top: 0;
  left: 204px;
}
#lazyDiv #floor_1 .floor_1_top ul li {
  float: left;
  font-size: 14px;
  color: #666666;
  margin: 3px 45px 0 0;
  cursor: pointer;
}
#lazyDiv #floor_1 .floor_1_top ul .floor_active {
  color: #000;
  font-weight: 600;
}
#lazyDiv #floor_1 .floor_1_top span:nth-child(4) {
  font-size: 12px;
  color: #666666;
  margin-top: 5px;
  position: absolute;
  right: 0;
}
#lazyDiv #floor_1 .floor_1_l {
  float: left;
  width: 202px;
  height: 386px;
  background: #F1EDEC;
}
#lazyDiv #floor_1 .floor_1_l dl {
  width: 182px;
  height: 78px;
  border-bottom: 1px solid #e5dfdd;
  margin: 8px 10px 10px 10px;
}
#lazyDiv #floor_1 .floor_1_l dl dt a {
  font-size: 15px;
  color: #666;
}
#lazyDiv #floor_1 .floor_1_l dl dt a:hover {
  color: #c40000;
}
#lazyDiv #floor_1 .floor_1_l dl dd a {
  color: #666;
  width: 90px;
  text-align: left;
  display: block;
  float: left;
  line-height: 26px;
  height: 26px;
  overflow: hidden;
  font-size: 12px;
}
#lazyDiv #floor_1 .floor_1_l dl dd a:hover {
  color: #c40000;
}
#lazyDiv #floor_1 .floor_1_l p {
  width: 202px;
  height: 26px;
  background: #28BAC7;
}
#lazyDiv #floor_1 .floor_1_l p a {
  display: block;
  width: 202px;
  height: 26px;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}
#lazyDiv #floor_1 .floor_1_c {
  float: left;
  width: 794px;
  height: 386px;
  display: none;
}
#lazyDiv #floor_1 .floor_1_c div:nth-child(1) {
  height: 200px;
}
#lazyDiv #floor_1 .floor_1_c div:nth-child(1) img {
  float: left;
}
#lazyDiv #floor_1 .floor_1_c div:nth-child(2) {
  height: 186px;
}
#lazyDiv #floor_1 .floor_1_c div:nth-child(2) dl {
  float: left;
  width: 198px;
  margin-top: 10px;
}
#lazyDiv #floor_1 .floor_1_c div:nth-child(2) dl dt {
  width: 198px;
  text-align: center;
}
#lazyDiv #floor_1 .floor_1_c div:nth-child(2) dl dd {
  padding: 10px;
}
#lazyDiv #floor_1 .floor_1_c div:nth-child(2) dl dd span {
  font: 700 14px "arial";
  color: #c40000;
  margin-bottom: 10px;
}
#lazyDiv #floor_1 .floor_1_c div:nth-child(2) dl dd a {
  color: #333;
  line-height: 14px;
  font-size: 12px;
}
#lazyDiv #floor_1 .floor_1_c div:nth-child(2) dl dd a:hover {
  text-decoration: underline;
}
#lazyDiv #floor_1 .floor_1_r {
  float: left;
  width: 204px;
  height: 386px;
}
#lazyDiv #floor_1 .floor_1_r > ul {
  width: 204px;
}
#lazyDiv #floor_1 .floor_1_r > ul li {
  float: left;
  width: 100px;
  border-bottom: 1px solid #ebe4e2;
  border-right: 1px solid #ebe4e2;
  height: 64px;
  overflow: hidden;
  background: #F1EDEC;
}
#lazyDiv #floor_1 .floor_1_r > ul li a {
  display: block;
  padding-top: 12px;
}
#lazyDiv #floor_1 .floor_1_r > ul li a img {
  width: 98px;
  height: 42px;
}
#lazyDiv #floor_2 {
  height: 414px;
  margin-top: 10px;
}
#lazyDiv #floor_2 .floor_2_top {
  height: 28px;
  border-bottom: 2px solid #28B885;
  position: relative;
}
#lazyDiv #floor_2 .floor_2_top span:nth-child(1) {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: #28B885;
  color: #fff;
  line-height: 28px;
  text-align: center;
}
#lazyDiv #floor_2 .floor_2_top span:nth-child(2) {
  display: inline-block;
  font-size: 18px;
  font-weight: 900;
  margin-left: 5px;
}
#lazyDiv #floor_2 .floor_2_top ul {
  position: absolute;
  top: 0;
  left: 204px;
}
#lazyDiv #floor_2 .floor_2_top ul li {
  float: left;
  font-size: 14px;
  color: #666666;
  margin: 3px 45px 0 0;
  cursor: pointer;
}
#lazyDiv #floor_2 .floor_2_top ul .floor_2_active {
  color: #000;
  font-weight: 600;
}
#lazyDiv #floor_2 .floor_2_top span:nth-child(4) {
  font-size: 12px;
  color: #666666;
  margin-top: 5px;
  position: absolute;
  right: 0;
}
#lazyDiv #floor_2 .floor_2_l {
  float: left;
  width: 202px;
  height: 386px;
  background: #F1EDEC;
}
#lazyDiv #floor_2 .floor_2_l dl {
  width: 182px;
  height: 78px;
  border-bottom: 1px solid #e5dfdd;
  margin: 8px 10px 10px 10px;
}
#lazyDiv #floor_2 .floor_2_l dl dt a {
  font-size: 15px;
  color: #666;
}
#lazyDiv #floor_2 .floor_2_l dl dt a:hover {
  color: #c40000;
}
#lazyDiv #floor_2 .floor_2_l dl dd a {
  color: #666;
  width: 90px;
  text-align: left;
  display: block;
  float: left;
  line-height: 26px;
  height: 26px;
  overflow: hidden;
  font-size: 12px;
}
#lazyDiv #floor_2 .floor_2_l dl dd a:hover {
  color: #c40000;
}
#lazyDiv #floor_2 .floor_2_l p {
  width: 202px;
  height: 26px;
  background: #28B885;
}
#lazyDiv #floor_2 .floor_2_l p a {
  display: block;
  width: 202px;
  height: 26px;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}
#lazyDiv #floor_2 .floor_2_c {
  float: left;
  width: 794px;
  height: 386px;
  display: none;
}
#lazyDiv #floor_2 .floor_2_c div:nth-child(1) {
  height: 200px;
}
#lazyDiv #floor_2 .floor_2_c div:nth-child(1) img {
  float: left;
}
#lazyDiv #floor_2 .floor_2_c div:nth-child(2) {
  height: 186px;
}
#lazyDiv #floor_2 .floor_2_c div:nth-child(2) dl {
  float: left;
  width: 198px;
  margin-top: 10px;
}
#lazyDiv #floor_2 .floor_2_c div:nth-child(2) dl dt {
  width: 198px;
  text-align: center;
}
#lazyDiv #floor_2 .floor_2_c div:nth-child(2) dl dd {
  padding: 10px;
}
#lazyDiv #floor_2 .floor_2_c div:nth-child(2) dl dd span {
  font: 700 14px "arial";
  color: #c40000;
  margin-bottom: 10px;
}
#lazyDiv #floor_2 .floor_2_c div:nth-child(2) dl dd a {
  color: #333;
  line-height: 14px;
  font-size: 12px;
}
#lazyDiv #floor_2 .floor_2_c div:nth-child(2) dl dd a:hover {
  text-decoration: underline;
}
#lazyDiv #floor_2 .floor_2_r {
  float: left;
  width: 204px;
  height: 386px;
}
#lazyDiv #floor_2 .floor_2_r > ul {
  width: 204px;
}
#lazyDiv #floor_2 .floor_2_r > ul li {
  float: left;
  width: 100px;
  border-bottom: 1px solid #ebe4e2;
  border-right: 1px solid #ebe4e2;
  height: 64px;
  overflow: hidden;
  background: #F1EDEC;
}
#lazyDiv #floor_2 .floor_2_r > ul li a {
  display: block;
  padding-top: 12px;
}
#lazyDiv #floor_2 .floor_2_r > ul li a img {
  width: 98px;
  height: 42px;
}

.publiclay2 {
  margin: 0 auto 30px;
  border: 1px solid #e6e6e6;
  background: #fff;
}
.publiclay2 h4 {
  height: 34px;
  line-height: 34px;
  border-bottom: 1px solid #e6e6e6;
  padding-left: 20px;
  font: 400 14px/34px "\5FAE\8F6F\96C5\9ED1";
}
.publiclay2 .hotmend {
  position: relative;
  height: 219px;
  overflow: hidden;
}
.publiclay2 .hotmend .bd {
  width: 1140px;
  margin: 0 auto;
  padding-top: 20px;
}
.publiclay2 .hotmend .bd > ul {
  padding: 0;
}
.publiclay2 .hotmend .bd > ul > li {
  width: 1140px;
  height: 195px;
  overflow: hidden;
}
.publiclay2 .hotmend .bd > ul > li .hotmain {
  float: left;
  width: 208px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.publiclay2 .hotmend .bd > ul > li .hotmain .pic {
  display: block;
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 14px;
}
.publiclay2 .hotmend .bd > ul > li .hotmain .text-01 {
  line-height: 18px;
  height: 36px;
  display: block;
  overflow: hidden;
  margin-bottom: 15px;
  color: #333;
  font-size: 12px;
}
.publiclay2 .hotmend .bd > ul > li .hotmain .text-01:hover {
  color: #C40000;
  text-decoration: underline;
}

#foot {
  border-top: 2px solid #A6A6A6;
  height: 435px;
  background: #E6E6E6;
}
#foot .foot .foot_top {
  height: 98px;
  border-bottom: 1px solid #CCCCCC;
}
#foot .foot .foot_top ul:nth-child(1) {
  margin-top: 10px;
}
#foot .foot .foot_top ul:nth-child(1) li {
  float: left;
  font-size: 12px;
  color: #000;
}
#foot .foot .foot_top ul:nth-child(1) li a {
  margin-left: 5px;
  color: #676767;
}
#foot .foot .foot_top ul:nth-child(1) li a:hover {
  color: #D65B33;
  text-decoration: underline;
}
#foot .foot .foot_top ul:nth-child(3) {
  margin-top: 35px;
}
#foot .foot .foot_top ul:nth-child(3) li {
  float: left;
  font-size: 12px;
  color: #000;
}
#foot .foot .foot_top ul:nth-child(3) li a {
  margin-left: 5px;
  color: #676767;
}
#foot .foot .foot_top ul:nth-child(3) li a:hover {
  color: #D65B33;
  text-decoration: underline;
}
#foot .foot .foot_top ul:nth-child(5) {
  margin-top: 0px;
}
#foot .foot .foot_top ul:nth-child(5) li {
  float: left;
  font-size: 12px;
  color: #000;
}
#foot .foot .foot_top ul:nth-child(5) li a {
  margin-left: 5px;
  color: #676767;
}
#foot .foot .foot_top ul:nth-child(5) li a:hover {
  color: #D65B33;
  text-decoration: underline;
}
#foot .foot .foot_center {
  margin-top: 22px;
  height: 152px;
  background: #FFF;
  border: 1px solid #CCCCCC;
}
#foot .foot .foot_center .foot_c_left {
  width: 506px;
  height: 152px;
  padding: 15px;
  float: left;
  border-right: 1px solid #C9C9C9;
}
#foot .foot .foot_center .foot_c_left .foot_c_left_one {
  width: 475px;
  height: 101px;
  border-bottom: 1px solid #BCBCBC;
}
#foot .foot .foot_center .foot_c_left .foot_c_left_one .wxxz-1 {
  width: 215px;
  height: 74px;
  float: left;
}
#foot .foot .foot_center .foot_c_left .foot_c_left_one .wxxz-1 img {
  float: left;
}
#foot .foot .foot_center .foot_c_left .foot_c_left_one .wxxz-1 dl {
  float: left;
  margin-left: 5px;
}
#foot .foot .foot_center .foot_c_left .foot_c_left_one .wxxz-1 dl dt {
  font-size: 15px;
}
#foot .foot .foot_center .foot_c_left .foot_c_left_one .wxxz-1 dl dd {
  font-size: 13px;
  color: #9E9E9E;
}
#foot .foot .foot_center .foot_c_left .foot_c_left_one .wxxz-1 dl a:nth-child(3) {
  display: inline-block;
  width: 72px;
  height: 24px;
  background: url(../img/wxico_02.png) no-repeat 0 -322px;
}
#foot .foot .foot_center .foot_c_left .foot_c_left_one .wxxz-1 dl a:nth-child(3):hover {
  background: url(../img/wxico_02.png) no-repeat -78px -322px;
}
#foot .foot .foot_center .foot_c_left .foot_c_left_one .wxxz-1 dl a:nth-child(4) {
  display: inline-block;
  width: 75px;
  height: 24px;
  background: url(../img/wxico_02.png) no-repeat 0 -349px;
}
#foot .foot .foot_center .foot_c_left .foot_c_left_one .wxxz-1 dl a:nth-child(4):hover {
  background: url(../img/wxico_02.png) no-repeat -79px -349px;
}
#foot .foot .foot_center .foot_c_left .foot_b {
  margin-top: 7px;
  width: 475px;
  height: 18px;
  font-size: 14px;
  color: #333;
}
#foot .foot .foot_center .foot_c_left .foot_b span {
  float: right;
}
#foot .foot .foot_center .foot_c_left .foot_b i {
  color: #c10000;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
}
#foot .foot .foot_center .foot_list {
  width: 690px;
  float: right;
  padding-top: 10px;
}
#foot .foot .foot_center .foot_list ul {
  border-right: 1px solid #E0E0E0;
  float: left;
  height: 130px;
  line-height: 25px;
  width: 114px;
}
#foot .foot .foot_center .foot_list ul li {
  padding: 0 0 0 25px;
  font-size: 13px;
}
#foot .foot .foot_center .foot_list ul li a {
  color: #676767;
  font-size: 13px;
}
#foot .foot .foot_center .foot_list ul li a:hover {
  color: #D65B33;
  text-decoration: underline;
}
#foot .foot_bottom {
  height: 129px;
  margin-top: 16px;
}
#foot .foot_bottom .foot_b_top {
  margin-bottom: 15px;
}
#foot .foot_bottom .foot_b_top a {
  font-size: 12px;
  color: #676767;
}
#foot .foot_bottom .foot_b_top a:hover {
  color: #C11F6F;
  text-decoration: underline;
}
#foot .foot_bottom .foot_b_c {
  text-align: center;
  margin-bottom: 5px;
}
#foot .foot_bottom .foot_b_c img {
  margin-left: 10px;
}
#foot .foot_bottom .foot_b_b {
  text-align: center;
  font-size: 13px;
}
#foot .foot_bottom .foot_b_b > a {
  padding-left: 20px;
  background: url(../img/foot.png) no-repeat 0 0;
  color: #333;
}
#foot .foot_bottom .foot_b_b > a:hover {
  color: #C11F6F;
  text-decoration: underline;
}

#ad {
  position: fixed;
  right: 0;
  top: 50%;
  width: 37px;
  height: 200px;
  margin-top: -100px;
  z-index: 999;
}
#ad img:nth-child(1) {
  margin-bottom: 5px;
}
#ad img:nth-child(2) {
  margin-bottom: 5px;
}
#ad #ad_top {
  display: block;
  cursor: pointer;
  width: 37px;
  height: 37px;
  opacity: 0;
  background: url(../img/slidelf.png) no-repeat -51px -147px;
}
#ad #ad_top:hover {
  background: url(../img/slidelf.png) no-repeat 0 -147px;
}

/*# sourceMappingURL=index.css.map */
